body, h1, h2, h3, h4, h5, h6 {
    font-family: "Karma", sans-serif
}

.w3-bar-block .w3-bar-item {
    padding: 20px
}

#btn_RaiUno .active {
    background-color: #002a80 !important;
}

#btn_RaiDue .active {
    background-color: darkred !important;
}

#btn_RaiTre .active {
    background-color: #028200 !important;
}

#btn_RaiCinque .active {
    background-color: #fe6500 !important;
}

.loader {
    background-image: url("../img/loader.gif");
    width: 25px;
    height: 25px;
}

.progress {
    margin-bottom: 0px !important;
}

.error {
    color: red;
}



