.container {
}

.description {
    color: black;
    background-color: white;
    /*width: 100px;*/
    /*height: 100px;*/
}

.jumbotron {
    /*height: 40px;*/
    position: relative;
    padding: 6px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: #020031;
    background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #020031), color-stop(100%, #6d3353));
    background: -webkit-linear-gradient(45deg, #020031 0%, #6d3353 100%);
    background: -o-linear-gradient(45deg, #020031 0%, #6d3353 100%);
    background: -ms-linear-gradient(45deg, #020031 0%, #6d3353 100%);
    background: linear-gradient(45deg, #020031 0%, #6d3353 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020031', endColorstr='#6d3353', GradientType=1);
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}

section {
    padding-top: 30px;
}

.shiny {
    position: relative;
    left: 500px;
    bottom: 50px;
    display: inline;
}

header h1, #video-box, #channel-menu {
    margin: 0px;
    padding-top: 0px;
}

.container {
    width: 1024px;
}

.day {
    float: left;
    width: 245px;
}

#channel_list {
    padding-top: 3px;
    list-style: none;
}

.loader {
    background-image: url("../img/loader.gif");
    width: 25px;
    height: 25px;
    position: relative;
    left: 70px;
    top: 10px;
}

body {
    background-color: black !important;
}

.jq_current_video {
    background: url("../img/frame_1.png") no-repeat;
    height: 564px;
}

.jq_current_video video {
    width: 940px;
    height: 530px;
    position: relative;
    left: 32px;
    bottom: -36px;
}

.jq_video_box {
    width: 1009px;
    margin: 0 auto;
}

.program {
    margin: 10px;
    color: white;
}

.program:hover {
    background-color: #bce8f1;
    color: black;
    cursor: pointer;
}

.program a:hover {
    text-decoration: none;
    color: black;
}

.btn {
    color: white !important;
    /*background-color: blue !important;*/
}

#btn_RaiUno .active {
    background-color: #002a80 !important;
}

#btn_RaiDue .active {
    background-color: darkred !important;
}

#btn_RaiTre .active {
    background-color: limegreen !important;
}

.shiny {
    display: none;
}

.progress {
    margin-bottom: 0px !important;
}
.error{
    color: red;
}

.navbar-inner{padding: 10px;}