<?xml version="1.0"?>
<config>
    <modules>
        <Maga_Video>
            <version>0.0.1</version>
        </Maga_Video>
    </modules>
    <global>
        <blocks>
            <video>
                <class>Maga_Video_Block</class>
            </video>
        </blocks>
        <helpers>
            <video>
                <class>Maga_Video_Helper</class>
            </video>
        </helpers>
        <models>
            <video>
                <class>Maga_Video_Model</class>
                <resourceModel>video_resource</resourceModel>
            </video>
            <video_resource>
                <class>Maga_Video_Model_Resource</class>
                <entities>
                    <rai>
                        <table>video_rai</table>
                    </rai>
                </entities>
            </video_resource>
        </models>
        <resources>
            <video_setup>
                <setup>
                    <module>Maga_Video</module>
                </setup>
            </video_setup>
        </resources>
    </global>

    <frontend>
        <layout>
            <updates>
                <video>
                    <file>video.xml</file>
                </video>
            </updates>
        </layout>
        <routers>
            <video>
                <use>standard</use>
                <args>
                    <module>Maga_Video</module>
                    <frontName>video</frontName>
                </args>
            </video>
        </routers>
    </frontend>

</config>
