body {
    background-color: black !important;
}

section {
    padding-top: 30px;
}

@media screen and (min-width: 0px) and (max-width: 1084px) {
    #github_forkme {
        display: none;
    }
}

/*.jumbotron {*/
/*position: relative;*/
/*padding: 6px 0;*/
/*color: #fff;*/
/*text-align: center;*/
/*text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);*/
/*background: #020031;*/
/*background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);*/
/*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #020031), color-stop(100%, #6d3353));*/
/*background: -webkit-linear-gradient(45deg, #020031 0%, #6d3353 100%);*/
/*background: -o-linear-gradient(45deg, #020031 0%, #6d3353 100%);*/
/*background: -ms-linear-gradient(45deg, #020031 0%, #6d3353 100%);*/
/*background: linear-gradient(45deg, #020031 0%, #6d3353 100%);*/
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020031', endColorstr='#6d3353', GradientType=1);*/
/*-webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);*/
/*-moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);*/
/*box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);*/
/*}*/

#header, #main_loader {
    height: 8px
}

.container {
    width: 1054px;
}

.day {
    float: left;
    width: 245px;
}

#tv_box {
    background: url('../img/tv.png') no-repeat center;
    padding-right: 2px;
    overflow: hidden;
    /*margin: 10px;*/
}

#tv_title {
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: x-large;
}

#my-video {
    margin: 0 auto;
}

.channel-wrapper {
    text-align: center;
    padding-top: 5px;
}

.channel-wrapper ul {
    display: inline-block;
}

#channel_list {
    list-style: none;
    padding: 0px;
}

.channel-wrapper .progress {
    height: 12px;
    font-size: 11px;
}

#program_box{
    padding: 2%;
    max-width: 97%;
    margin: auto;
}

.description {
    color: black;
    background-color: darkgrey;
}

.program {
    margin: 10px;
    color: white;
}

.program:hover {
    background-color: #bce8f1;
    color: black;
    cursor: pointer;
}

.program a:hover {
    text-decoration: none;
    color: black;
}

button.active {
    color: white !important;
    /*background-color: blue !important;*/
}

#btn_RaiUno .active {
    background-color: #002a80 !important;
}

#btn_RaiDue .active {
    background-color: darkred !important;
}

#btn_RaiTre .active {
    background-color: #028200 !important;
}

#btn_RaiCinque .active {
    background-color: #fe6500 !important;
}

.loader {
    background-image: url("../img/loader.gif");
    width: 25px;
    height: 25px;
    position: relative;
    left: 70px;
    top: 10px;
}

.progress {
    margin-bottom: 0px !important;
}

.error {
    color: red;
}

