/**
 * Social icons
 * Deprecated since 1.10.0 in favor of font icons
 */

/* Contact icons
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Row 2
-------------------------------------------------------------- */
/* Twitter */
.icon.i-twitter {
    background-image: url(../images/sprite-icons-social@2x_burnout.png);
    background-position: -7px -107px;
}

.icon.i-twitter-w {
    background-image: url(../images/sprite-icons-social@2x_burnout.png);
    background-position: -7px -157px;
}

/* Facebook */
.icon.i-facebook {
    background-image: url(../images/sprite-icons-social@2x_burnout.png);
    background-position: -57px -107px;
}

.icon.i-facebook-w {
    background-image: url(../images/sprite-icons-social@2x_burnout.png);
    background-position: -57px -157px;
}

/* Google plus */
.icon.i-googleplus {
    background-image: url(../images/sprite-icons-social@2x_burnout.png);
    background-position: -107px -107px;
}

.icon.i-googleplus-w {
    background-image: url(../images/sprite-icons-social@2x_burnout.png);
    background-position: -107px -157px;
}

/* Youtube */
.icon.i-youtube {
    background-image: url(../images/sprite-icons-social@2x_burnout.png);
    background-position: -157px -107px;
}

.icon.i-youtube-w {
    background-image: url(../images/sprite-icons-social@2x_burnout.png);
    background-position: -157px -157px;
}

/* Pinterest */
.icon.i-pinterest {
    background-image: url(../images/sprite-icons-social@2x_burnout.png);
    background-position: -307px -107px;
}

.icon.i-pinterest-w {
    background-image: url(../images/sprite-icons-social@2x_burnout.png);
    background-position: -307px -157px;
}
