.float-clearer {
    clear: both
}

.stock-availability {
    font-size: 11px;
    float: left;
    position: relative;
    margin-bottom: 0;
    margin-top: 3px
}

.stock-availability span {
    font-size: 11px
}

.stock-availability span.restrictions-link {
    font-size: 9px
}

.stock-availability span.expected {
    color: #930;
    font-size: 10px
}

.stock-availability span.instock {
    color: #063
}

.stock-availability span.outofstock {
    color: #900
}

.stock-availability span.backorder {
    color: #C00
}

.stock-availability span.expected {
    color: #930;
    font-size: 10px
}

.stock-availability span.preorder {
    color: #666;
    font-size: 10px
}

.stock-availability span.customstatus {
    color: #063
}

.stock-availability span.limited {
    color: #F90
}

.shipsin {
    color: #666;
    font-size: 10px
}

.product-options-bottom .shipsin {
    color: #666;
    font-size: 9px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E4E4E4
}

p.alert-link {
    font-size: 11px;
    text-align: right
}

.product-view .out-of-stock-alert {
    padding: 10px;
    position: absolute;
    border: 2px solid #ff0;
    width: 269px;
    height: 94px;
    margin-top: -130px;
    margin-left: -415px;
    z-index: 999;
    background-color: #06f;
    opacity: 0.8
}

.out-of-stock-alert div {
    margin-top: 10px;
    text-align: justify;
    font-weight: bold;
    font-size: 13px;
    color: white
}

.availability span.restrictions-link {
    font-size: 9px
}

.availability span.instock {
    color: #063
}

.availability span.outofstock {
    color: #900
}

.availability span.backorder {
    color: #C00
}

.availability span.expected {
    color: #930;
    font-size: 10px
}

.availability span.preorder {
    font-size: 10px;
    color: #06F
}

.availability span.customstatus {
    color: #333
}

.availability span.limited {
    color: #F90
}

.item-status dt {
    margin: 5px 0;
    font-size: 11px;
    font-weight: 700;
    color: #066CC3
}

.label span.restrictions-link {
    font-size: 9px
}

.label span.instock {
    color: #063
}

.label span.outofstock {
    color: #900
}

.label span.backorder {
    color: #C00
}

.label span.expected {
    color: #930;
    font-size: 10px
}

.label span.preorder {
    font-size: 10px;
    color: #06F
}

.label span.customstatus {
    color: #666
}

.label span.limited {
    color: #F90
}

.bx-sh {
    margin-left: -10px;
    padding: 7px;
    width: 274px;
    height: 22px;
    background-color: #00a
}

.bx-sh input {
    font-weight: bold;
    width: 185px
}

#notify {
    color: #ff0;
    font-size: 13px;
    background: transparent;
    width: 80px;
    float: right;
    border: none;
    margin-top: 2px;
    cursor: pointer
}

#alt-vs {
    text-align: center;
    background-color: #ff0;
    color: #00a;
    margin-left: -10px;
    padding: 2px;
    width: 285px;
    height: 16px;
    margin-top: -20px;
    margin-bottom: 12px
}

.btn-cart span.disabled {
    background: #ececec
}

button.button.btn-cart:hover span.disabled {
    background-color: #ececec
}
