.testimonial {
    border-bottom: #ccc 1px dotted;
    margin-top: 26px;
    margin-bottom: 46px;
}

.testimonial .main-content {
}

.testimonial .frame {
    margin: 0 auto;
    background: url(../images/testimonial/photo_frame.png) no-repeat;
    height: 300px;
    width: 260px;
}

.testimonial .frame img {
    margin-left: 26px;
    margin-top: 64px;
}

.content_inner {
    text-align: center;
    margin-top: 60px;
    font-size: 16px;
    /*/ display: table-cell;*/
    /*vertical-align: middle;*/
}